body {
	background-color: #DDD;
	font-size: 0px;
}

div#main {
	width: 700px;
	margin: auto
}

div#main div.header {
	font-family: monospace;
}

div#main div.header div.top {
	height: 64px;
}

div#main div.header div.title {
	color: #666;
	font-size: 64px;
}

div#main div.header div.subtitle {
	color: #999;
	margin-top: 16px;
	font-size: 32px;
}

div#main > div.content {
	background-color: #666;
	margin-top: 32px;
	border-radius: 8px;
}

div#main > div.content > div.tabs {
	padding: 8px 8px 0px 8px;
}

div#main > div.content > div.tabs > div.tab {
	background-color: #444;
	border-radius: 4px 4px 0px 0px;
	color: #777;
	cursor: pointer;
	display: inline-block;
	font-family: monospace;
	font-size: 12px;
	font-weight: bold;
	height: 16px;
	margin-right: 4px;
	padding-left: 10px;
	padding-top: 10px;
	width: 128px;
}

div#main > div.content > div.tabs > div.tab.actived {
	background-color: #aaa;
	color: #444;
	cursor: default;
}

div#main > div.content > div.tab-contents {
	padding-bottom: 8px;
}

div#main > div.content > div.tab-contents > div.tab-content {
	background-color: #aaa;
	display: none;
	min-height: 256px;
	padding-bottom: 16px;
}

div#main > div.content > div.tab-contents > div.tab-content.actived {
	display: block;
}

div.tab-content > div.button-line {
	padding-left: 8px;
	padding-top: 16px;
}

div.tab-content div.button-line > button,
div.tab-content div.button-line > a > button,
div.tab-content div.upload-button-wrap {
	margin-left: 8px;
	border-radius: 8px;
	cursor: pointer;
}

div.tab-content div.button-line > button,
div.tab-content div.button-line > a > button,
div.tab-content div.upload-button-wrap,
div.tab-content div.upload-button-wrap > button,
div.tab-content div.upload-button-wrap > label > div,
div.tab-content div.upload-button-wrap > input[type="file"] {
	outline: none;
	width: 217px;
	float: left;
}
div.tab-content div.button-line > button,
div.tab-content div.button-line > a > button,
div.tab-content div.upload-button-wrap,
div.tab-content div.upload-button-wrap > button,
div.tab-content div.upload-button-wrap > label > div,
div.tab-content div.upload-button-wrap > input[type="file"],
div.tab-content > div.button-line {
	height: 64px;
}

div.tab-content div.upload-button-wrap > label > div {
	cursor: pointer;
}

div.tab-content div.upload-button-wrap > label > div,
div.tab-content div.upload-button-wrap > input[type="file"] {
	margin-top: -64px;
}

div.tab-content div.upload-button-wrap {
	display: inline-block;
	overflow: hidden;
}

div.tab-content div.button-line button {
	border: none;
	background-color: #497;
}

div.tab-content div.button-line button > img {
	margin-left: 8px;
	float: left;
}

div.tab-content div.button-line button > div.text-content {
	float: left;
	margin-left: 8px;
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
}

div.tab-content div.button-line button.disabled {
	background-color: #899;
	cursor: default;
}

div.tab-content div.textarea textarea {
	background-color: #444;
	font-size: 12px;
	color: #bbb;
	width: 100%;
	resize: none;
	padding: 8px;
	border: none;
	outline: none;
	height: 64px;
}

div.tab-content div.textarea textarea:focus {
	background-color: #333;
	color: #ccc;
}

div.tab-content div.textarea,
div.tab-content div.canvas-preview {
	margin: 8px 16px 0px 16px;
}

div.tab-content div.canvas-preview div.title,
div.tab-content div.textarea div.title {
	font-size: 12px;
	font-family: monospace;
	font-weight: bold;
	color: #555;
}

div.tab-content div.canvas-preview canvas {
	background-color: #999;
	width: 668px;
	height: 334px;
}
